In [1]:
!pip install boto3

Requirement already satisfied: boto3 in c:\users\nilay\anaconda3\lib\site-packages (1.28.25)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in c:\users\nilay\anaconda3\lib\site-packages (from boto3) (0.6.1)
Requirement already satisfied: botocore<1.32.0,>=1.31.25 in c:\users\nilay\anaconda3\lib\site-packages (from boto3) (1.31.25)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\nilay\anaconda3\lib\site-packages (from boto3) (0.10.0)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\nilay\anaconda3\lib\site-packages (from botocore<1.32.0,>=1.31.25->boto3) (1.26.14)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\nilay\anaconda3\lib\site-packages (from botocore<1.32.0,>=1.31.25->boto3) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\nilay\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.32.0,>=1.31.25->boto3) (1.16.0)

WARNING: Ignoring invalid distribution -yspark (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yspark (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yspark (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yspark (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yspark (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -yspark (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\nilay\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ensorflow-intel (c:\users\nilay\anaconda3\lib\site-packages)

In [2]:
import pandas as pd
import boto3

In [7]:
bucket = "demo-nilay-aug5"
file_name = "StudentData.csv"

In [8]:
s3 = boto3.client('s3',
                 aws_access_key_id='',
                 aws_secret_access_key=''
                 region_name='us-east-1')

In [9]:
obj = s3.get_object(Bucket=bucket, Key=file_name)

In [10]:
df = pd.read_csv(obj['Body']) # 'Body' is a key word

In [11]:
df.head()

,age,gender,name,course,roll,marks,email
0,28,Female,Hubert Oliveras,DB,2984,59,Annika Hoffman_Naoma Fritts@OOP.com
1,29,Female,Toshiko Hillyard,Cloud,12899,62,Margene Moores_Marylee Capasso@DB.com
2,28,Male,Celeste Lollis,PF,21267,45,Jeannetta Golden_Jenna Montague@DSA.com
3,29,Female,Elenore Choy,DB,32877,29,Billi Clore_Mitzi Seldon@DB.com
4,28,Male,Sheryll Towler,DSA,41487,41,Claude Panos_Judie Chipps@OOP.com