In [1]:
#Install Java Development kit for Spark
!apt-get install openjdk-8-jdk

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
The following additional packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java libatk-wrapper-java-jni libfontenc1
  libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin libgtk2.0-common libice-dev librsvg2-common
  libsm-dev libxkbfile1 libxt-dev libxtst6 libxxf86dga1 openjdk-8-jdk-headless openjdk-8-jre
  openjdk-8-jre-headless x11-utils
Suggested packages:
  gvfs libice-doc libsm-doc libxt-doc openjdk-8-demo openjdk-8-source visualvm libnss-mdns
  fonts-nanum fonts-ipafont-gothic fonts-ipafont-mincho fonts-wqy-microhei fonts-wqy-zenhei
  fonts-indic mesa-utils
The following NEW packages will be installed:
  fonts-dejavu-core fonts-dejavu-extra libatk-wrapper-java libatk-wrapper-java-jni libfontenc1
  libgail-common libgail18 libgtk2.0-0 libgtk2.0-bin libgtk2.0-common libice-dev librsvg2-common
  libsm-dev libxkbfile1 libxt-dev libxtst6 libxxf86dga1 openjdk-8-jdk openjdk-8-jdk-headless
  openjdk-8-jre openjdk-8-jre-headless x11-utils
0 upgraded, 22 newly installed, 0 to remove and 45 not upgraded.
Need to get 50.1 MB of archives.
After this operation, 169 MB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-core all 2.37-2build1 [1,041 kB]
Get:2 http://archive.ubuntu.com/ubuntu jammy/main amd64 fonts-dejavu-extra all 2.37-2build1 [2,041 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/main amd64 libfontenc1 amd64 1:1.1.4-1build3 [14.7 kB]
Get:4 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxkbfile1 amd64 1:1.1.0-1build3 [71.8 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxtst6 amd64 2:1.2.3-1build4 [13.4 kB]
Get:6 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxxf86dga1 amd64 2:1.1.5-0ubuntu3 [12.6 kB]
Get:7 http://archive.ubuntu.com/ubuntu jammy/main amd64 x11-utils amd64 7.7+5build2 [206 kB]
Get:8 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java all 0.38.0-5build1 [53.1 kB]
Get:9 http://archive.ubuntu.com/ubuntu jammy/main amd64 libatk-wrapper-java-jni amd64 0.38.0-5build1 [49.0 kB]
Get:10 http://archive.ubuntu.com/ubuntu jammy/main amd64 libgtk2.0-common all 2.24.33-2ubuntu2 [125 kB]
Get:11 http://archive.ubuntu.com/ubuntu jammy/main amd64 libgtk2.0-0 amd64 2.24.33-2ubuntu2 [2,037 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy/main amd64 libgail18 amd64 2.24.33-2ubuntu2 [15.9 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy/main amd64 libgail-common amd64 2.24.33-2ubuntu2 [132 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy/main amd64 libgtk2.0-bin amd64 2.24.33-2ubuntu2 [7,932 B]
Get:15 http://archive.ubuntu.com/ubuntu jammy/main amd64 libice-dev amd64 2:1.0.10-1build2 [51.4 kB]
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 librsvg2-common amd64 2.52.5+dfsg-3ubuntu0.2 [17.7 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy/main amd64 libsm-dev amd64 2:1.2.3-1build2 [18.1 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy/main amd64 libxt-dev amd64 1:1.2.1-1 [396 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 openjdk-8-jre-headless amd64 8u402-ga-2ubuntu1~22.04 [30.8 MB]
Get:20 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 openjdk-8-jre amd64 8u402-ga-2ubuntu1~22.04 [75.5 kB]
Get:21 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 openjdk-8-jdk-headless amd64 8u402-ga-2ubuntu1~22.04 [8,873 kB]
Get:22 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 openjdk-8-jdk amd64 8u402-ga-2ubuntu1~22.04 [4,068 kB]
Fetched 50.1 MB in 2s (29.5 MB/s)
Selecting previously unselected package fonts-dejavu-core.
(Reading database ... 121918 files and directories currently installed.)
Preparing to unpack .../00-fonts-dejavu-core_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-core (2.37-2build1) ...
Selecting previously unselected package fonts-dejavu-extra.
Preparing to unpack .../01-fonts-dejavu-extra_2.37-2build1_all.deb ...
Unpacking fonts-dejavu-extra (2.37-2build1) ...
Selecting previously unselected package libfontenc1:amd64.
Preparing to unpack .../02-libfontenc1_1%3a1.1.4-1build3_amd64.deb ...
Unpacking libfontenc1:amd64 (1:1.1.4-1build3) ...
Selecting previously unselected package libxkbfile1:amd64.
Preparing to unpack .../03-libxkbfile1_1%3a1.1.0-1build3_amd64.deb ...
Unpacking libxkbfile1:amd64 (1:1.1.0-1build3) ...
Selecting previously unselected package libxtst6:amd64.
Preparing to unpack .../04-libxtst6_2%3a1.2.3-1build4_amd64.deb ...
Unpacking libxtst6:amd64 (2:1.2.3-1build4) ...
Selecting previously unselected package libxxf86dga1:amd64.
Preparing to unpack .../05-libxxf86dga1_2%3a1.1.5-0ubuntu3_amd64.deb ...
Unpacking libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Selecting previously unselected package x11-utils.
Preparing to unpack .../06-x11-utils_7.7+5build2_amd64.deb ...
Unpacking x11-utils (7.7+5build2) ...
Selecting previously unselected package libatk-wrapper-java.
Preparing to unpack .../07-libatk-wrapper-java_0.38.0-5build1_all.deb ...
Unpacking libatk-wrapper-java (0.38.0-5build1) ...
Selecting previously unselected package libatk-wrapper-java-jni:amd64.
Preparing to unpack .../08-libatk-wrapper-java-jni_0.38.0-5build1_amd64.deb ...
Unpacking libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Selecting previously unselected package libgtk2.0-common.
Preparing to unpack .../09-libgtk2.0-common_2.24.33-2ubuntu2_all.deb ...
Unpacking libgtk2.0-common (2.24.33-2ubuntu2) ...
Selecting previously unselected package libgtk2.0-0:amd64.
Preparing to unpack .../10-libgtk2.0-0_2.24.33-2ubuntu2_amd64.deb ...
Unpacking libgtk2.0-0:amd64 (2.24.33-2ubuntu2) ...
Selecting previously unselected package libgail18:amd64.
Preparing to unpack .../11-libgail18_2.24.33-2ubuntu2_amd64.deb ...
Unpacking libgail18:amd64 (2.24.33-2ubuntu2) ...
Selecting previously unselected package libgail-common:amd64.
Preparing to unpack .../12-libgail-common_2.24.33-2ubuntu2_amd64.deb ...
Unpacking libgail-common:amd64 (2.24.33-2ubuntu2) ...
Selecting previously unselected package libgtk2.0-bin.
Preparing to unpack .../13-libgtk2.0-bin_2.24.33-2ubuntu2_amd64.deb ...
Unpacking libgtk2.0-bin (2.24.33-2ubuntu2) ...
Selecting previously unselected package libice-dev:amd64.
Preparing to unpack .../14-libice-dev_2%3a1.0.10-1build2_amd64.deb ...
Unpacking libice-dev:amd64 (2:1.0.10-1build2) ...
Selecting previously unselected package librsvg2-common:amd64.
Preparing to unpack .../15-librsvg2-common_2.52.5+dfsg-3ubuntu0.2_amd64.deb ...
Unpacking librsvg2-common:amd64 (2.52.5+dfsg-3ubuntu0.2) ...
Selecting previously unselected package libsm-dev:amd64.
Preparing to unpack .../16-libsm-dev_2%3a1.2.3-1build2_amd64.deb ...
Unpacking libsm-dev:amd64 (2:1.2.3-1build2) ...
Selecting previously unselected package libxt-dev:amd64.
Preparing to unpack .../17-libxt-dev_1%3a1.2.1-1_amd64.deb ...
Unpacking libxt-dev:amd64 (1:1.2.1-1) ...
Selecting previously unselected package openjdk-8-jre-headless:amd64.
Preparing to unpack .../18-openjdk-8-jre-headless_8u402-ga-2ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-8-jre-headless:amd64 (8u402-ga-2ubuntu1~22.04) ...
Selecting previously unselected package openjdk-8-jre:amd64.
Preparing to unpack .../19-openjdk-8-jre_8u402-ga-2ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-8-jre:amd64 (8u402-ga-2ubuntu1~22.04) ...
Selecting previously unselected package openjdk-8-jdk-headless:amd64.
Preparing to unpack .../20-openjdk-8-jdk-headless_8u402-ga-2ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-8-jdk-headless:amd64 (8u402-ga-2ubuntu1~22.04) ...
Selecting previously unselected package openjdk-8-jdk:amd64.
Preparing to unpack .../21-openjdk-8-jdk_8u402-ga-2ubuntu1~22.04_amd64.deb ...
Unpacking openjdk-8-jdk:amd64 (8u402-ga-2ubuntu1~22.04) ...
Setting up libice-dev:amd64 (2:1.0.10-1build2) ...
Setting up libsm-dev:amd64 (2:1.2.3-1build2) ...
Setting up libxtst6:amd64 (2:1.2.3-1build4) ...
Setting up libxxf86dga1:amd64 (2:1.1.5-0ubuntu3) ...
Setting up libfontenc1:amd64 (1:1.1.4-1build3) ...
Setting up libxt-dev:amd64 (1:1.2.1-1) ...
Setting up openjdk-8-jre-headless:amd64 (8u402-ga-2ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/orbd to provide /usr/bin/orbd (orbd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/servertool to provide /usr/bin/servertool (servertool) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/tnameserv to provide /usr/bin/tnameserv (tnameserv) in auto mode
Setting up fonts-dejavu-core (2.37-2build1) ...
Setting up librsvg2-common:amd64 (2.52.5+dfsg-3ubuntu0.2) ...
Setting up fonts-dejavu-extra (2.37-2build1) ...
Setting up libgtk2.0-common (2.24.33-2ubuntu2) ...
Setting up libxkbfile1:amd64 (1:1.1.0-1build3) ...
Setting up libgtk2.0-0:amd64 (2.24.33-2ubuntu2) ...
Setting up openjdk-8-jdk-headless:amd64 (8u402-ga-2ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/clhsdb to provide /usr/bin/clhsdb (clhsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/extcheck to provide /usr/bin/extcheck (extcheck) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/hsdb to provide /usr/bin/hsdb (hsdb) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/idlj to provide /usr/bin/idlj (idlj) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/javah to provide /usr/bin/javah (javah) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jhat to provide /usr/bin/jhat (jhat) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jsadebugd to provide /usr/bin/jsadebugd (jsadebugd) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/native2ascii to provide /usr/bin/native2ascii (native2ascii) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/schemagen to provide /usr/bin/schemagen (schemagen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsgen to provide /usr/bin/wsgen (wsgen) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/wsimport to provide /usr/bin/wsimport (wsimport) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/xjc to provide /usr/bin/xjc (xjc) in auto mode
Setting up libgail18:amd64 (2.24.33-2ubuntu2) ...
Setting up libgtk2.0-bin (2.24.33-2ubuntu2) ...
Setting up x11-utils (7.7+5build2) ...
Setting up libatk-wrapper-java (0.38.0-5build1) ...
Setting up libgail-common:amd64 (2.24.33-2ubuntu2) ...
Setting up libatk-wrapper-java-jni:amd64 (0.38.0-5build1) ...
Setting up openjdk-8-jre:amd64 (8u402-ga-2ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/jre/bin/policytool to provide /usr/bin/policytool (policytool) in auto mode
Setting up openjdk-8-jdk:amd64 (8u402-ga-2ubuntu1~22.04) ...
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/appletviewer to provide /usr/bin/appletviewer (appletviewer) in auto mode
update-alternatives: using /usr/lib/jvm/java-8-openjdk-amd64/bin/jconsole to provide /usr/bin/jconsole (jconsole) in auto mode
Processing triggers for hicolor-icon-theme (0.17-2) ...
Processing triggers for libc-bin (2.35-0ubuntu3.4) ...
/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc_proxy.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_5.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbmalloc.so.2 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbbbind_2_0.so.3 is not a symbolic link

/sbin/ldconfig.real: /usr/local/lib/libtbb.so.12 is not a symbolic link

Processing triggers for man-db (2.10.2-1) ...
Processing triggers for libgdk-pixbuf-2.0-0:amd64 (2.42.8+dfsg-1ubuntu0.2) ...
Processing triggers for fontconfig (2.13.1-4.2ubuntu5) ...

In [2]:
import os
#Set the JAVA_HOME env variable
os.environ["JAVA_HOME"]="/usr/lib/jvm/java-8-openjdk-amd64"

In [3]:
#Install PySpark with latest version
!pip install pyspark==3.0.0

Collecting pyspark==3.0.0
  Downloading pyspark-3.0.0.tar.gz (204.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 204.7/204.7 MB 6.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9 (from pyspark==3.0.0)
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 198.6/198.6 kB 18.2 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.0.0-py2.py3-none-any.whl size=205044159 sha256=bfb950a10caca6b52d670c1322d826bfd211bc945ed5b325a44d977acc59238e
  Stored in directory: /root/.cache/pip/wheels/b1/bb/8b/ca24d3f756f2ed967225b0871898869db676eb5846df5adc56
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Attempting uninstall: py4j
    Found existing installation: py4j 0.10.9.7
    Uninstalling py4j-0.10.9.7:
      Successfully uninstalled py4j-0.10.9.7
Successfully installed py4j-0.10.9 pyspark-3.0.0

In [4]:
#mount your drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark DataFrames").getOrCreate()

In [8]:
#Read the csv file
df=spark.read.csv('/content/drive/My Drive/datasets/student_info.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|_c0|   _c1|             _c2|   _c3|   _c4|  _c5|                 _c6|
+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [9]:
df=spark.read.option('header',True).csv('/content/drive/My Drive/datasets/student_info.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [10]:
#displays structure of dataframe
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: string (nullable = true)
 |-- email: string (nullable = true)

In [11]:
df=spark.read.option('header',True).option('inferSchema',True).csv('/content/drive/My Drive/datasets/student_info.csv')
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [12]:
#displays structure of dataframe
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [13]:
df=spark.read.options(header=True,inferSchema=True).csv('/content/drive/My Drive/datasets/student_info.csv')
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: integer (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [14]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

my_schema = StructType([
                    StructField("age", IntegerType(), True),
                    StructField("gender", StringType(), True),
                    StructField("name", StringType(), True),
                    StructField("course", StringType(), True),
                    StructField("roll", StringType(), True),
                    StructField("marks", IntegerType(), True),
                    StructField("email", StringType(), True)
])

In [15]:
df=spark.read.options(header=True).schema(my_schema).csv('/content/drive/My Drive/datasets/student_info.csv')
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [16]:
from pyspark.sql.functions import col, lit

In [17]:
#Change Datatype
df = df.withColumn("roll", col("roll").cast("String"))

df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- name: string (nullable = true)
 |-- course: string (nullable = true)
 |-- roll: string (nullable = true)
 |-- marks: integer (nullable = true)
 |-- email: string (nullable = true)

In [18]:
# modify column value
df = df.withColumn("marks", col('marks') + 10)
df.show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   69|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [19]:
df = df.withColumn("percentage", col('marks') / 100)
df.show()

+---+------+----------------+------+------+-----+--------------------+----------+
|age|gender|            name|course|  roll|marks|               email|percentage|
+---+------+----------------+------+------+-----+--------------------+----------+
| 28|Female| Hubert Oliveras|    DB| 02984|   69|Annika Hoffman_Na...|      0.69|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|      0.72|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|      0.55|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|      0.39|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|      0.51|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|      0.42|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|      0.79|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|      0.95|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|      0.74|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|      0.61|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|      0.45|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|      0.63|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|      0.37|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|      0.65|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|      0.52|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|      0.37|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|      0.46|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|      0.32|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|      0.66|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|      0.72|
+---+------+----------------+------+------+-----+--------------------+----------+
only showing top 20 rows

In [20]:
df = df.withColumn("country name", lit("Nigeria"))
df.show()

+---+------+----------------+------+------+-----+--------------------+----------+------------+
|age|gender|            name|course|  roll|marks|               email|percentage|country name|
+---+------+----------------+------+------+-----+--------------------+----------+------------+
| 28|Female| Hubert Oliveras|    DB| 02984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   72|Margene Moores_Ma...|      0.72|     Nigeria|
| 28|  Male|  Celeste Lollis|    PF| 21267|   55|Jeannetta Golden_...|      0.55|     Nigeria|
| 29|Female|    Elenore Choy|    DB| 32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   51|Claude Panos_Judi...|      0.51|     Nigeria|
| 28|  Male|  Margene Moores|   MVC| 52771|   42|Toshiko Hillyard_...|      0.42|     Nigeria|
| 28|  Male|     Neda Briski|   OOP| 61973|   79|Alberta Freund_El...|      0.79|     Nigeria|
| 28|Female|    Claude Panos| Cloud| 72409|   95|Sheryll Towler_Al...|      0.95|     Nigeria|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   74|Nicole Harwood_Cl...|      0.74|     Nigeria|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   61|Judie Chipps_Clem...|      0.61|     Nigeria|
| 29|Female|       Kena Wild|   DSA|102285|   45|Dustin Feagins_Ma...|      0.45|     Nigeria|
| 29|  Male| Ernest Rossbach|    DB|111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|  Latia Vanhoose|    DB|122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|  Latia Vanhoose|   MVC|132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|  Male|     Neda Briski|    PF|141770|   52|Margene Moores_Mi...|      0.52|     Nigeria|
| 29|Female|  Latia Vanhoose|    DB|152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|  Loris Crossett|   MVC|161771|   46|Mitzi Seldon_Jenn...|      0.46|     Nigeria|
| 29|  Male|  Annika Hoffman|   OOP|171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 29|  Male|   Santa Kerfien|    PF|182129|   66|Judie Chipps_Tary...|      0.66|     Nigeria|
| 28|Female|Mickey Cortright|    DB|192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
+---+------+----------------+------+------+-----+--------------------+----------+------------+
only showing top 20 rows

In [21]:
#renaming columns
df = df.withColumnRenamed("gender","sex").withColumnRenamed("roll", "roll number")
df.show()

+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|            name|course|roll number|marks|               email|percentage|country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female| Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|     Nigeria|
| 28|  Male|  Celeste Lollis|    PF|      21267|   55|Jeannetta Golden_...|      0.55|     Nigeria|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|     Nigeria|
| 28|  Male|  Margene Moores|   MVC|      52771|   42|Toshiko Hillyard_...|      0.42|     Nigeria|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|     Nigeria|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|     Nigeria|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   74|Nicole Harwood_Cl...|      0.74|     Nigeria|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|     Nigeria|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|     Nigeria|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|  Male|     Neda Briski|    PF|     141770|   52|Margene Moores_Mi...|      0.52|     Nigeria|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|  Loris Crossett|   MVC|     161771|   46|Mitzi Seldon_Jenn...|      0.46|     Nigeria|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 29|  Male|   Santa Kerfien|    PF|     182129|   66|Judie Chipps_Tary...|      0.66|     Nigeria|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [22]:
#column alias
df.select(col("name").alias("Full Name")).show()

df.show()

+----------------+
|       Full Name|
+----------------+
| Hubert Oliveras|
|Toshiko Hillyard|
|  Celeste Lollis|
|    Elenore Choy|
|  Sheryll Towler|
|  Margene Moores|
|     Neda Briski|
|    Claude Panos|
|  Celeste Lollis|
|  Cordie Harnois|
|       Kena Wild|
| Ernest Rossbach|
|  Latia Vanhoose|
|  Latia Vanhoose|
|     Neda Briski|
|  Latia Vanhoose|
|  Loris Crossett|
|  Annika Hoffman|
|   Santa Kerfien|
|Mickey Cortright|
+----------------+
only showing top 20 rows

+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|            name|course|roll number|marks|               email|percentage|country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female| Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|     Nigeria|
| 28|  Male|  Celeste Lollis|    PF|      21267|   55|Jeannetta Golden_...|      0.55|     Nigeria|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|     Nigeria|
| 28|  Male|  Margene Moores|   MVC|      52771|   42|Toshiko Hillyard_...|      0.42|     Nigeria|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|     Nigeria|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|     Nigeria|
| 28|  Male|  Celeste Lollis|   MVC|      81492|   74|Nicole Harwood_Cl...|      0.74|     Nigeria|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|     Nigeria|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|     Nigeria|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|  Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|  Male|     Neda Briski|    PF|     141770|   52|Margene Moores_Mi...|      0.52|     Nigeria|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|  Loris Crossett|   MVC|     161771|   46|Mitzi Seldon_Jenn...|      0.46|     Nigeria|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 29|  Male|   Santa Kerfien|    PF|     182129|   66|Judie Chipps_Tary...|      0.66|     Nigeria|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [23]:
#filters
df.filter(df.course == "DB").show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|  Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|     Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 29|  Male|  Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|   Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|   Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
| 28|Female|      Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|     Nigeria|
| 28|  Male|    Kizzy Brenner|    DB|     381712|   46|Paris Hutton_Kena...|      0.46|     Nigeria|
| 28|  Male| Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|     Nigeria|
| 29|  Male|     Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     551389|   53|Tijuana Kropf_Jen...|      0.53|     Nigeria|
| 28|Female|Leontine Phillips|    DB|     602404|   58|Neda Briski_Cheri...|      0.58|     Nigeria|
| 28|Female|  Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|     Nigeria|
| 29|Female|     Elenore Choy|    DB|     811824|   65|Maybell Duguay_Me...|      0.65|     Nigeria|
| 29|  Male| Clementina Menke|    DB|     882200|   86|Michelle Ruggiero...|      0.86|     Nigeria|
| 29|Female|  Sebrina Maresca|    DB|     922210|   64|Toshiko Hillyard_...|      0.64|     Nigeria|
| 29|  Male|     Naoma Fritts|    DB|     931295|   89|Hubert Oliveras_S...|      0.89|     Nigeria|
| 28|  Male|   Annika Hoffman|    DB|    1031544|   54|Dustin Feagins_So...|      0.54|     Nigeria|
| 28|  Male|   Nicole Harwood|    DB|    1211495|   38|Melani Engberg_Jc...|      0.38|     Nigeria|
| 29|Female|     Claude Panos|    DB|    1222887|   85|Hubert Oliveras_S...|      0.85|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [24]:
df.filter(col("course") == "DB").show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|  Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|     Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 29|  Male|  Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|   Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|   Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
| 28|Female|      Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|     Nigeria|
| 28|  Male|    Kizzy Brenner|    DB|     381712|   46|Paris Hutton_Kena...|      0.46|     Nigeria|
| 28|  Male| Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|     Nigeria|
| 29|  Male|     Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     551389|   53|Tijuana Kropf_Jen...|      0.53|     Nigeria|
| 28|Female|Leontine Phillips|    DB|     602404|   58|Neda Briski_Cheri...|      0.58|     Nigeria|
| 28|Female|  Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|     Nigeria|
| 29|Female|     Elenore Choy|    DB|     811824|   65|Maybell Duguay_Me...|      0.65|     Nigeria|
| 29|  Male| Clementina Menke|    DB|     882200|   86|Michelle Ruggiero...|      0.86|     Nigeria|
| 29|Female|  Sebrina Maresca|    DB|     922210|   64|Toshiko Hillyard_...|      0.64|     Nigeria|
| 29|  Male|     Naoma Fritts|    DB|     931295|   89|Hubert Oliveras_S...|      0.89|     Nigeria|
| 28|  Male|   Annika Hoffman|    DB|    1031544|   54|Dustin Feagins_So...|      0.54|     Nigeria|
| 28|  Male|   Nicole Harwood|    DB|    1211495|   38|Melani Engberg_Jc...|      0.38|     Nigeria|
| 29|Female|     Claude Panos|    DB|    1222887|   85|Hubert Oliveras_S...|      0.85|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [25]:
df.filter( (df.course == "DB") & (df.marks > 50) ).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|  Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|  Male|  Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
| 28|Female|      Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|     Nigeria|
| 28|  Male| Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|     Nigeria|
| 29|  Male|     Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     551389|   53|Tijuana Kropf_Jen...|      0.53|     Nigeria|
| 28|Female|Leontine Phillips|    DB|     602404|   58|Neda Briski_Cheri...|      0.58|     Nigeria|
| 28|Female|  Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|     Nigeria|
| 29|Female|     Elenore Choy|    DB|     811824|   65|Maybell Duguay_Me...|      0.65|     Nigeria|
| 29|  Male| Clementina Menke|    DB|     882200|   86|Michelle Ruggiero...|      0.86|     Nigeria|
| 29|Female|  Sebrina Maresca|    DB|     922210|   64|Toshiko Hillyard_...|      0.64|     Nigeria|
| 29|  Male|     Naoma Fritts|    DB|     931295|   89|Hubert Oliveras_S...|      0.89|     Nigeria|
| 28|  Male|   Annika Hoffman|    DB|    1031544|   54|Dustin Feagins_So...|      0.54|     Nigeria|
| 29|Female|     Claude Panos|    DB|    1222887|   85|Hubert Oliveras_S...|      0.85|     Nigeria|
| 29|Female|Leontine Phillips|    DB|    1432252|   77|Billi Clore_Shery...|      0.77|     Nigeria|
| 28|Female|  Gonzalo Ferebee|    DB|    1451513|   79|Claude Panos_Tame...|      0.79|     Nigeria|
| 28|  Male|  Marylee Capasso|    DB|    1611411|  106|Annika Hoffman_Lo...|      1.06|     Nigeria|
| 29|Female|Michelle Ruggiero|    DB|    1642509|   55|Hubert Oliveras_M...|      0.55|     Nigeria|
| 29|  Male|   Alberta Freund|    DB|    1671638|  108|Clementina Menke_...|      1.08|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [26]:
courses = ["DB", "Cloud", "OOP", "DSA"]
df.filter(df.course.isin(courses)).show()

+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|            name|course|roll number|marks|               email|percentage|country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female| Hubert Oliveras|    DB|      02984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|     Nigeria|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|     Nigeria|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|     Nigeria|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|     Nigeria|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|     Nigeria|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|     Nigeria|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
| 28|Female|       Kena Wild| Cloud|     221750|   70|Mitzi Seldon_Jenn...|       0.7|     Nigeria|
| 28|Female|    Jc Andrepont|   DSA|     232060|   68|Billi Clore_Abram...|      0.68|     Nigeria|
| 29|Female|     Anna Santos| Cloud|     242254|   78|Jc Andrepont_Hube...|      0.78|     Nigeria|
| 28|Female|  Alberta Freund|   OOP|     251805|   93|Annika Hoffman_Sh...|      0.93|     Nigeria|
| 28|Female|  Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 29|Female|    Paris Hutton|   DSA|     271472|  109|Sheryll Towler_Al...|      1.09|     Nigeria|
| 29|Female|    Cheri Kenney| Cloud|     281408|   53|Annika Hoffman_Me...|      0.53|     Nigeria|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [27]:
df.filter(df.course.startswith("DS")).show()

+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|            name|course|roll number|marks|               email|percentage|country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|     Nigeria|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|     Nigeria|
| 28|Female|    Jc Andrepont|   DSA|     232060|   68|Billi Clore_Abram...|      0.68|     Nigeria|
| 29|Female|    Paris Hutton|   DSA|     271472|  109|Sheryll Towler_Al...|      1.09|     Nigeria|
| 28|Female|  Dustin Feagins|   DSA|     291984|   92|Abram Nagao_Kena ...|      0.92|     Nigeria|
| 28|Female|Mickey Cortright|   DSA|     342003|   54|Mitzi Seldon_Jean...|      0.54|     Nigeria|
| 29|Female|     Anna Santos|   DSA|     411479|   52|Kena Wild_Mitzi S...|      0.52|     Nigeria|
| 28|Female|  Maybell Duguay|   DSA|     452141|   39|Leontine Phillips...|      0.39|     Nigeria|
| 29|Female|    Paris Hutton|   DSA|     492159|   70|Nicole Harwood_Ma...|       0.7|     Nigeria|
| 29|  Male|  Celeste Lollis|   DSA|     562065|   95|Jc Andrepont_Mela...|      0.95|     Nigeria|
| 29|  Male|  Maybell Duguay|   DSA|     592061|   93|Eda Neathery_Jenn...|      0.93|     Nigeria|
| 28|  Male|    Mitzi Seldon|   DSA|     622981|   55|Lawanda Wohlwend_...|      0.55|     Nigeria|
| 28|Female|  Jenna Montague|   DSA|     691564|   36|Mitzi Seldon_Sebr...|      0.36|     Nigeria|
| 28|Female|  Celeste Lollis|   DSA|     731879|   86|Hubert Oliveras_G...|      0.86|     Nigeria|
| 28|  Male|  Sheryll Towler|   DSA|     831562|   69|Kena Wild_Gonzalo...|      0.69|     Nigeria|
| 28|Female|  Sheryll Towler|   DSA|     871967|   74|Michelle Ruggiero...|      0.74|     Nigeria|
| 28|  Male|  Margene Moores|   DSA|     892010|  103|Anna Santos_Naoma...|      1.03|     Nigeria|
| 28|Female|  Somer Stoecker|   DSA|     901958|   74|Kizzy Brenner_Jc ...|      0.74|     Nigeria|
| 28|Female|Lawanda Wohlwend|   DSA|     951686|   70|Loris Crossett_Ni...|       0.7|     Nigeria|
| 28|  Male|  Jenna Montague|   DSA|    1002103|   46|Melani Engberg_Hu...|      0.46|     Nigeria|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [28]:
df.filter(df.name.endswith("se")).show()

+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|          name|course|roll number|marks|               email|percentage|country name|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|Female|Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    1832268|   70|Marylee Capasso_S...|       0.7|     Nigeria|
| 29|  Male|Latia Vanhoose|   OOP|    2372748|  104|Latia Vanhoose_La...|      1.04|     Nigeria|
| 29|Female|Latia Vanhoose|    PF|    2861854|   52|Claude Panos_Nico...|      0.52|     Nigeria|
| 29|  Male|Latia Vanhoose|   MVC|    2992281|  100|Elenore Choy_Cord...|       1.0|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|    3091650|   40|Cordie Harnois_Se...|       0.4|     Nigeria|
| 29|Female|Latia Vanhoose|   OOP|    3841395|   36|Kizzy Brenner_Eda...|      0.36|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    4661276|   50|Jc Andrepont_Anni...|       0.5|     Nigeria|
| 28|Female|Latia Vanhoose|   OOP|    4792828|   82|Tamera Blakley_Mi...|      0.82|     Nigeria|
| 28|Female|Latia Vanhoose|    PF|    5222171|   83|Toshiko Hillyard_...|      0.83|     Nigeria|
| 28|Female|Latia Vanhoose| Cloud|    6701628|   43|Abram Nagao_Cheri...|      0.43|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|    6771882|   59|Alberta Freund_La...|      0.59|     Nigeria|
| 28|Female|Latia Vanhoose|   MVC|    7381991|  104|Eda Neathery_Mich...|      1.04|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    7721956|   55|Jalisa Swenson_An...|      0.55|     Nigeria|
| 28|  Male|Latia Vanhoose|   OOP|    7741757|   76|Loris Crossett_Na...|      0.76|     Nigeria|
| 28|  Male|Latia Vanhoose|   DSA|    7792270|   47|Eda Neathery_Donn...|      0.47|     Nigeria|
| 28|  Male|Latia Vanhoose|   DSA|    9442974|   39|Jc Andrepont_Cele...|      0.39|     Nigeria|
| 28|Female|Latia Vanhoose| Cloud|    9471888|   66|Naoma Fritts_Kena...|      0.66|     Nigeria|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+

In [29]:
df.filter(df.name.contains("se")).show()

+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|          name|course|roll number|marks|               email|percentage|country name|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|Female|Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|Loris Crossett|   MVC|     161771|   46|Mitzi Seldon_Jenn...|      0.46|     Nigeria|
| 29|Female|Loris Crossett|    PF|     201487|  106|Elenore Choy_Lati...|      1.06|     Nigeria|
| 28|Female|Loris Crossett|    PF|     332739|   72|Michelle Ruggiero...|      0.72|     Nigeria|
| 29|  Male|Loris Crossett|    PF|     911593|   56|Gonzalo Ferebee_M...|      0.56|     Nigeria|
| 28|Female|Loris Crossett|   DSA|    1662549|   96|Paris Hutton_Lati...|      0.96|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    1832268|   70|Marylee Capasso_S...|       0.7|     Nigeria|
| 29|  Male|Latia Vanhoose|   OOP|    2372748|  104|Latia Vanhoose_La...|      1.04|     Nigeria|
| 28|Female|Loris Crossett|   OOP|    2691881|   39|Maybell Duguay_Ni...|      0.39|     Nigeria|
| 28|  Male|Loris Crossett|   OOP|    2852490|   35|Loris Crossett_Do...|      0.35|     Nigeria|
| 29|Female|Latia Vanhoose|    PF|    2861854|   52|Claude Panos_Nico...|      0.52|     Nigeria|
| 29|  Male|Latia Vanhoose|   MVC|    2992281|  100|Elenore Choy_Cord...|       1.0|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|    3091650|   40|Cordie Harnois_Se...|       0.4|     Nigeria|
| 28|Female|Loris Crossett|   OOP|    3502780|   40|Jenna Montague_Co...|       0.4|     Nigeria|
| 28|Female|Loris Crossett|    PF|    3531684|   94|Dustin Feagins_Ta...|      0.94|     Nigeria|
| 29|  Male|Loris Crossett|   OOP|    3592529|   90|Annika Hoffman_To...|       0.9|     Nigeria|
| 29|Female|Latia Vanhoose|   OOP|    3841395|   36|Kizzy Brenner_Eda...|      0.36|     Nigeria|
| 28|Female|Loris Crossett|    PF|    3861248|  104|Dustin Feagins_Ch...|      1.04|     Nigeria|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [ ]:
df.filter( (df.course == "DB") & (df.marks > 50) ).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|  Hubert Oliveras|    DB|       2984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|  Male|  Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
| 28|Female|      Anna Santos|    DB|     311589|   89|Celeste Lollis_Mi...|      0.89|     Nigeria|
| 28|  Male| Toshiko Hillyard|    DB|     392218|   57|Leontine Phillips...|      0.57|     Nigeria|
| 29|  Male|     Paris Hutton|    DB|     481229|   67|Clementina Menke_...|      0.67|     Nigeria|
| 28|Female| Mickey Cortright|    DB|     551389|   53|Tijuana Kropf_Jen...|      0.53|     Nigeria|
| 28|Female|Leontine Phillips|    DB|     602404|   58|Neda Briski_Cheri...|      0.58|     Nigeria|
| 28|Female|  Hubert Oliveras|    DB|     771081|   89|Kizzy Brenner_Dus...|      0.89|     Nigeria|
| 29|Female|     Elenore Choy|    DB|     811824|   65|Maybell Duguay_Me...|      0.65|     Nigeria|
| 29|  Male| Clementina Menke|    DB|     882200|   86|Michelle Ruggiero...|      0.86|     Nigeria|
| 29|Female|  Sebrina Maresca|    DB|     922210|   64|Toshiko Hillyard_...|      0.64|     Nigeria|
| 29|  Male|     Naoma Fritts|    DB|     931295|   89|Hubert Oliveras_S...|      0.89|     Nigeria|
| 28|  Male|   Annika Hoffman|    DB|    1031544|   54|Dustin Feagins_So...|      0.54|     Nigeria|
| 29|Female|     Claude Panos|    DB|    1222887|   85|Hubert Oliveras_S...|      0.85|     Nigeria|
| 29|Female|Leontine Phillips|    DB|    1432252|   77|Billi Clore_Shery...|      0.77|     Nigeria|
| 28|Female|  Gonzalo Ferebee|    DB|    1451513|   79|Claude Panos_Tame...|      0.79|     Nigeria|
| 28|  Male|  Marylee Capasso|    DB|    1611411|  106|Annika Hoffman_Lo...|      1.06|     Nigeria|
| 29|Female|Michelle Ruggiero|    DB|    1642509|   55|Hubert Oliveras_M...|      0.55|     Nigeria|
| 29|  Male|   Alberta Freund|    DB|    1671638|  108|Clementina Menke_...|      1.08|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [ ]:
courses = ["DB", "Cloud", "OOP", "DSA"]
df.filter(df.course.isin(courses)).show()

+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|            name|course|roll number|marks|               email|percentage|country name|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female| Hubert Oliveras|    DB|       2984|   69|Annika Hoffman_Na...|      0.69|     Nigeria|
| 29|Female|Toshiko Hillyard| Cloud|      12899|   72|Margene Moores_Ma...|      0.72|     Nigeria|
| 29|Female|    Elenore Choy|    DB|      32877|   39|Billi Clore_Mitzi...|      0.39|     Nigeria|
| 28|  Male|  Sheryll Towler|   DSA|      41487|   51|Claude Panos_Judi...|      0.51|     Nigeria|
| 28|  Male|     Neda Briski|   OOP|      61973|   79|Alberta Freund_El...|      0.79|     Nigeria|
| 28|Female|    Claude Panos| Cloud|      72409|   95|Sheryll Towler_Al...|      0.95|     Nigeria|
| 29|  Male|  Cordie Harnois|   OOP|      92882|   61|Judie Chipps_Clem...|      0.61|     Nigeria|
| 29|Female|       Kena Wild|   DSA|     102285|   45|Dustin Feagins_Ma...|      0.45|     Nigeria|
| 29|  Male| Ernest Rossbach|    DB|     111449|   63|Maybell Duguay_Ab...|      0.63|     Nigeria|
| 28|Female|  Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|  Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|  Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 28|Female|Mickey Cortright|    DB|     192537|   72|Ernest Rossbach_M...|      0.72|     Nigeria|
| 28|Female|       Kena Wild| Cloud|     221750|   70|Mitzi Seldon_Jenn...|       0.7|     Nigeria|
| 28|Female|    Jc Andrepont|   DSA|     232060|   68|Billi Clore_Abram...|      0.68|     Nigeria|
| 29|Female|     Anna Santos| Cloud|     242254|   78|Jc Andrepont_Hube...|      0.78|     Nigeria|
| 28|Female|  Alberta Freund|   OOP|     251805|   93|Annika Hoffman_Sh...|      0.93|     Nigeria|
| 28|Female|  Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 29|Female|    Paris Hutton|   DSA|     271472|  109|Sheryll Towler_Al...|      1.09|     Nigeria|
| 29|Female|    Cheri Kenney| Cloud|     281408|   53|Annika Hoffman_Me...|      0.53|     Nigeria|
+---+------+----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [ ]:
df.filter(df.name.endswith("se")).show()

+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|          name|course|roll number|marks|               email|percentage|country name|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|Female|Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    1832268|   70|Marylee Capasso_S...|       0.7|     Nigeria|
| 29|  Male|Latia Vanhoose|   OOP|    2372748|  104|Latia Vanhoose_La...|      1.04|     Nigeria|
| 29|Female|Latia Vanhoose|    PF|    2861854|   52|Claude Panos_Nico...|      0.52|     Nigeria|
| 29|  Male|Latia Vanhoose|   MVC|    2992281|  100|Elenore Choy_Cord...|       1.0|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|    3091650|   40|Cordie Harnois_Se...|       0.4|     Nigeria|
| 29|Female|Latia Vanhoose|   OOP|    3841395|   36|Kizzy Brenner_Eda...|      0.36|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    4661276|   50|Jc Andrepont_Anni...|       0.5|     Nigeria|
| 28|Female|Latia Vanhoose|   OOP|    4792828|   82|Tamera Blakley_Mi...|      0.82|     Nigeria|
| 28|Female|Latia Vanhoose|    PF|    5222171|   83|Toshiko Hillyard_...|      0.83|     Nigeria|
| 28|Female|Latia Vanhoose| Cloud|    6701628|   43|Abram Nagao_Cheri...|      0.43|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|    6771882|   59|Alberta Freund_La...|      0.59|     Nigeria|
| 28|Female|Latia Vanhoose|   MVC|    7381991|  104|Eda Neathery_Mich...|      1.04|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    7721956|   55|Jalisa Swenson_An...|      0.55|     Nigeria|
| 28|  Male|Latia Vanhoose|   OOP|    7741757|   76|Loris Crossett_Na...|      0.76|     Nigeria|
| 28|  Male|Latia Vanhoose|   DSA|    7792270|   47|Eda Neathery_Donn...|      0.47|     Nigeria|
| 28|  Male|Latia Vanhoose|   DSA|    9442974|   39|Jc Andrepont_Cele...|      0.39|     Nigeria|
| 28|Female|Latia Vanhoose| Cloud|    9471888|   66|Naoma Fritts_Kena...|      0.66|     Nigeria|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+

In [ ]:
df.filter(df.name.contains("se")).show()

+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|          name|course|roll number|marks|               email|percentage|country name|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|Latia Vanhoose|    DB|     122502|   37|Latia Vanhoose_Mi...|      0.37|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|     132110|   65|Eda Neathery_Nico...|      0.65|     Nigeria|
| 29|Female|Latia Vanhoose|    DB|     152159|   37|Claude Panos_Sant...|      0.37|     Nigeria|
| 29|  Male|Loris Crossett|   MVC|     161771|   46|Mitzi Seldon_Jenn...|      0.46|     Nigeria|
| 29|Female|Loris Crossett|    PF|     201487|  106|Elenore Choy_Lati...|      1.06|     Nigeria|
| 28|Female|Loris Crossett|    PF|     332739|   72|Michelle Ruggiero...|      0.72|     Nigeria|
| 29|  Male|Loris Crossett|    PF|     911593|   56|Gonzalo Ferebee_M...|      0.56|     Nigeria|
| 28|Female|Loris Crossett|   DSA|    1662549|   96|Paris Hutton_Lati...|      0.96|     Nigeria|
| 29|  Male|Latia Vanhoose| Cloud|    1832268|   70|Marylee Capasso_S...|       0.7|     Nigeria|
| 29|  Male|Latia Vanhoose|   OOP|    2372748|  104|Latia Vanhoose_La...|      1.04|     Nigeria|
| 28|Female|Loris Crossett|   OOP|    2691881|   39|Maybell Duguay_Ni...|      0.39|     Nigeria|
| 28|  Male|Loris Crossett|   OOP|    2852490|   35|Loris Crossett_Do...|      0.35|     Nigeria|
| 29|Female|Latia Vanhoose|    PF|    2861854|   52|Claude Panos_Nico...|      0.52|     Nigeria|
| 29|  Male|Latia Vanhoose|   MVC|    2992281|  100|Elenore Choy_Cord...|       1.0|     Nigeria|
| 29|Female|Latia Vanhoose|   MVC|    3091650|   40|Cordie Harnois_Se...|       0.4|     Nigeria|
| 28|Female|Loris Crossett|   OOP|    3502780|   40|Jenna Montague_Co...|       0.4|     Nigeria|
| 28|Female|Loris Crossett|    PF|    3531684|   94|Dustin Feagins_Ta...|      0.94|     Nigeria|
| 29|  Male|Loris Crossett|   OOP|    3592529|   90|Annika Hoffman_To...|       0.9|     Nigeria|
| 29|Female|Latia Vanhoose|   OOP|    3841395|   36|Kizzy Brenner_Eda...|      0.36|     Nigeria|
| 28|Female|Loris Crossett|    PF|    3861248|  104|Dustin Feagins_Ch...|      1.04|     Nigeria|
+---+------+--------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [ ]:
df.filter(df.name.startswith("se")).show()

+---+---+----+------+-----------+-----+-----+----------+------------+
|age|sex|name|course|roll number|marks|email|percentage|country name|
+---+---+----+------+-----------+-----+-----+----------+------------+
+---+---+----+------+-----------+-----+-----+----------+------------+

In [ ]:
df.select('sex').distinct().show()

+------+
|   sex|
+------+
|Female|
|  Male|
+------+

In [ ]:
df.select('age').distinct().show()

+---+
|age|
+---+
| 28|
| 29|
+---+

In [ ]:
df.filter(df.course == "DB").count()

Out[58]: 157

In [ ]:
df.sort(df.marks).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|   Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 29|  Male|   Jalisa Swenson|   OOP|    4751515|   30|Annika Hoffman_Hu...|       0.3|     Nigeria|
| 28|  Male|  Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   DSA|    5631172|   30|Jeannetta Golden_...|       0.3|     Nigeria|
| 29|  Male|Michelle Ruggiero|    PF|    6001585|   30|Paris Hutton_Marg...|       0.3|     Nigeria|
| 29|  Male|     Elenore Choy|    DB|    3652057|   30|Jc Andrepont_Gonz...|       0.3|     Nigeria|
| 29|Female|Michelle Ruggiero|    DB|    9232210|   30|Donna Yerby_Latia...|       0.3|     Nigeria|
| 29|Female|   Tamera Blakley|   DSA|    3911247|   30|Donna Yerby_Bonit...|       0.3|     Nigeria|
| 28|Female|     Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|     Nigeria|
| 28|  Male|      Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|     Nigeria|
| 29|  Male|   Tamera Blakley|   OOP|    7341268|   31|Anna Santos_Naoma...|      0.31|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   OOP|    2262603|   31|Bonita Higuera_Ch...|      0.31|     Nigeria|
| 28|  Male|    Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|     Nigeria|
| 29|  Male|  Sebrina Maresca| Cloud|    5042394|   31|Donna Yerby_Miche...|      0.31|     Nigeria|
| 28|  Male|   Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|     Nigeria|
| 29|Female|   Nicole Harwood|    PF|    8121198|   31|Bonita Higuera_Pr...|      0.31|     Nigeria|
| 29|Female|   Alberta Freund|   OOP|    4501424|   31|Toshiko Hillyard_...|      0.31|     Nigeria|
| 28|Female|  Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|     Nigeria|
| 28|  Male|      Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|     Nigeria|
| 29|  Male|     Paris Hutton|   MVC|     752504|   32|Elenore Choy_Elen...|      0.32|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [ ]:
df.sort(df.age,df.marks).show()

+---+------+---------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|           name|course|roll number|marks|               email|percentage|country name|
+---+------+---------------+------+-----------+-----+--------------------+----------+------------+
| 28|  Male|Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|     Nigeria|
| 28|Female| Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 28|Female|   Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|     Nigeria|
| 28|Female|Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|     Nigeria|
| 28|  Male|  Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|     Nigeria|
| 28|  Male| Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|     Nigeria|
| 28|  Male|    Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|     Nigeria|
| 28|  Male|    Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|     Nigeria|
| 28|  Male|    Anna Santos|    DB|    9772185|   32|Kizzy Brenner_Ann...|      0.32|     Nigeria|
| 28|Female|    Donna Yerby| Cloud|    4392575|   32|Leontine Phillips...|      0.32|     Nigeria|
| 28|Female|   Cheri Kenney| Cloud|    2281771|   32|Tamera Blakley_Ab...|      0.32|     Nigeria|
| 28|  Male|   Eda Neathery|    PF|    5082430|   32|Leontine Phillips...|      0.32|     Nigeria|
| 28|Female|    Neda Briski|    PF|    3251377|   33|Kizzy Brenner_Mic...|      0.33|     Nigeria|
| 28|Female| Bonita Higuera| Cloud|    6061881|   33|Dustin Feagins_La...|      0.33|     Nigeria|
| 28|  Male|  Santa Kerfien|   MVC|    1992202|   33|Annika Hoffman_Ta...|      0.33|     Nigeria|
| 28|  Male|Gonzalo Ferebee|   OOP|    7162059|   33|Melani Engberg_Me...|      0.33|     Nigeria|
| 28|Female|  Santa Kerfien|   OOP|    3931948|   34|Jeannetta Golden_...|      0.34|     Nigeria|
| 28|  Male| Bonita Higuera| Cloud|    1401526|   34|Jc Andrepont_Cher...|      0.34|     Nigeria|
| 28|  Male|    Anna Santos|   OOP|    1621905|   34|Elenore Choy_Sant...|      0.34|     Nigeria|
| 28|  Male| Alberta Freund| Cloud|    1802934|   34|Maybell Duguay_Pa...|      0.34|     Nigeria|
+---+------+---------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [ ]:
df.orderBy(df.marks).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 28|Female|   Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 29|  Male|   Jalisa Swenson|   OOP|    4751515|   30|Annika Hoffman_Hu...|       0.3|     Nigeria|
| 28|  Male|  Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   DSA|    5631172|   30|Jeannetta Golden_...|       0.3|     Nigeria|
| 29|  Male|Michelle Ruggiero|    PF|    6001585|   30|Paris Hutton_Marg...|       0.3|     Nigeria|
| 29|  Male|     Elenore Choy|    DB|    3652057|   30|Jc Andrepont_Gonz...|       0.3|     Nigeria|
| 29|Female|Michelle Ruggiero|    DB|    9232210|   30|Donna Yerby_Latia...|       0.3|     Nigeria|
| 29|Female|   Tamera Blakley|   DSA|    3911247|   30|Donna Yerby_Bonit...|       0.3|     Nigeria|
| 28|Female|     Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|     Nigeria|
| 28|  Male|      Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|     Nigeria|
| 29|  Male|   Tamera Blakley|   OOP|    7341268|   31|Anna Santos_Naoma...|      0.31|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   OOP|    2262603|   31|Bonita Higuera_Ch...|      0.31|     Nigeria|
| 28|  Male|    Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|     Nigeria|
| 29|  Male|  Sebrina Maresca| Cloud|    5042394|   31|Donna Yerby_Miche...|      0.31|     Nigeria|
| 28|  Male|   Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|     Nigeria|
| 29|Female|   Nicole Harwood|    PF|    8121198|   31|Bonita Higuera_Pr...|      0.31|     Nigeria|
| 29|Female|   Alberta Freund|   OOP|    4501424|   31|Toshiko Hillyard_...|      0.31|     Nigeria|
| 28|Female|  Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|     Nigeria|
| 28|  Male|      Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|     Nigeria|
| 29|  Male|     Paris Hutton|   MVC|     752504|   32|Elenore Choy_Elen...|      0.32|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [ ]:
df.orderBy(df.sex,df.marks).show()

+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|             name|course|roll number|marks|               email|percentage|country name|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
| 29|Female|   Tamera Blakley|   DSA|    3911247|   30|Donna Yerby_Bonit...|       0.3|     Nigeria|
| 28|Female|     Jc Andrepont|    PF|     972733|   30|Eda Neathery_Eda ...|       0.3|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   DSA|    5631172|   30|Jeannetta Golden_...|       0.3|     Nigeria|
| 28|Female|   Maybell Duguay| Cloud|     261439|   30|Nicole Harwood_Ju...|       0.3|     Nigeria|
| 29|Female|Michelle Ruggiero|    DB|    9232210|   30|Donna Yerby_Latia...|       0.3|     Nigeria|
| 28|Female|  Sebrina Maresca|    PF|    5742239|   31|Bonita Higuera_Se...|      0.31|     Nigeria|
| 29|Female|   Alberta Freund|   OOP|    4501424|   31|Toshiko Hillyard_...|      0.31|     Nigeria|
| 29|Female|   Nicole Harwood|    PF|    8121198|   31|Bonita Higuera_Pr...|      0.31|     Nigeria|
| 29|Female|  Gonzalo Ferebee|   OOP|    2262603|   31|Bonita Higuera_Ch...|      0.31|     Nigeria|
| 28|Female|      Donna Yerby| Cloud|    4392575|   32|Leontine Phillips...|      0.32|     Nigeria|
| 28|Female|     Cheri Kenney| Cloud|    2281771|   32|Tamera Blakley_Ab...|      0.32|     Nigeria|
| 29|Female|   Maybell Duguay|   MVC|    1102536|   32|Somer Stoecker_Ma...|      0.32|     Nigeria|
| 29|Female|      Niki Klimek|    PF|     211508|   33|Cordie Harnois_Ju...|      0.33|     Nigeria|
| 28|Female|   Bonita Higuera| Cloud|    6061881|   33|Dustin Feagins_La...|      0.33|     Nigeria|
| 29|Female|  Hubert Oliveras|   DSA|    5542363|   33|Priscila Tavernie...|      0.33|     Nigeria|
| 29|Female|     Naoma Fritts|   DSA|    4582052|   33|Kena Wild_Jenna M...|      0.33|     Nigeria|
| 28|Female|      Neda Briski|    PF|    3251377|   33|Kizzy Brenner_Mic...|      0.33|     Nigeria|
| 29|Female|   Sheryll Towler|   OOP|    6672653|   33|Jenna Montague_Sa...|      0.33|     Nigeria|
| 29|Female|   Jenna Montague|    PF|    9991617|   33|Anna Santos_Jenna...|      0.33|     Nigeria|
| 29|Female|      Abram Nagao|    PF|    9711154|   33|Judie Chipps_Naom...|      0.33|     Nigeria|
+---+------+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [ ]:
df.orderBy(df.marks.desc()).show()

+---+------+------------------+------+-----------+-----+--------------------+----------+------------+
|age|   sex|              name|course|roll number|marks|               email|percentage|country name|
+---+------+------------------+------+-----------+-----+--------------------+----------+------------+
| 29|  Male|    Maybell Duguay|    PF|     701486|  109|Clementina Menke_...|      1.09|     Nigeria|
| 28|  Male|    Loris Crossett|   OOP|    9692316|  109|Judie Chipps_Mich...|      1.09|     Nigeria|
| 29|  Male|   Gonzalo Ferebee|   MVC|    5772006|  109|Niki Klimek_Marge...|      1.09|     Nigeria|
| 29|Female|    Alberta Freund|   DSA|    6071316|  109|Dustin Feagins_Se...|      1.09|     Nigeria|
| 29|Female|Priscila Tavernier|   OOP|    3902993|  109|Celeste Lollis_Bi...|      1.09|     Nigeria|
| 29|Female|      Paris Hutton|   DSA|     271472|  109|Sheryll Towler_Al...|      1.09|     Nigeria|
| 28|  Male|       Niki Klimek|   DSA|    5172507|  109|Marylee Capasso_E...|      1.09|     Nigeria|
| 29|  Male| Michelle Ruggiero|   DSA|    1022971|  109|Cordie Harnois_Cl...|      1.09|     Nigeria|
| 29|Female|      Eda Neathery|    PF|    9222608|  109|Kena Wild_Lawanda...|      1.09|     Nigeria|
| 28|Female|    Melani Engberg| Cloud|    1872667|  109|Alberta Freund_Ni...|      1.09|     Nigeria|
| 28|Female|    Jalisa Swenson|   MVC|    5712033|  109|Dustin Feagins_Hu...|      1.09|     Nigeria|
| 28|Female|      Judie Chipps|   OOP|    5451977|  109|Tamera Blakley_Mi...|      1.09|     Nigeria|
| 29|  Male|    Melani Engberg|    DB|    2941257|  108|Claude Panos_Kena...|      1.08|     Nigeria|
| 28|  Male|  Clementina Menke|   DSA|    2772189|  108|Donna Yerby_Judie...|      1.08|     Nigeria|
| 28|  Male|    Jenna Montague|   OOP|    3331161|  108|Leontine Phillips...|      1.08|     Nigeria|
| 28|  Male|    Loris Crossett|   OOP|    8172914|  108|Paris Hutton_Pari...|      1.08|     Nigeria|
| 29|  Male|    Alberta Freund|    DB|    1671638|  108|Clementina Menke_...|      1.08|     Nigeria|
| 29|Female|  Lawanda Wohlwend| Cloud|    7222880|  108|Sheryll Towler_An...|      1.08|     Nigeria|
| 28|Female|      Judie Chipps|   DSA|    4631068|  108|Toshiko Hillyard_...|      1.08|     Nigeria|
| 28|Female|    Somer Stoecker|    PF|    5882098|  108|Judie Chipps_Clem...|      1.08|     Nigeria|
+---+------+------------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [ ]:
df.orderBy(df.sex.desc(),df.marks.asc()).show()

+---+----+-----------------+------+-----------+-----+--------------------+----------+------------+
|age| sex|             name|course|roll number|marks|               email|percentage|country name|
+---+----+-----------------+------+-----------+-----+--------------------+----------+------------+
| 29|Male|   Jalisa Swenson|   OOP|    4751515|   30|Annika Hoffman_Hu...|       0.3|     Nigeria|
| 29|Male|Michelle Ruggiero|    PF|    6001585|   30|Paris Hutton_Marg...|       0.3|     Nigeria|
| 29|Male|     Elenore Choy|    DB|    3652057|   30|Jc Andrepont_Gonz...|       0.3|     Nigeria|
| 28|Male|  Marylee Capasso|   DSA|    2081560|   30|Sheryll Towler_Do...|       0.3|     Nigeria|
| 29|Male|   Tamera Blakley|   OOP|    7341268|   31|Anna Santos_Naoma...|      0.31|     Nigeria|
| 28|Male|      Billi Clore|    DB|    9151306|   31|Latia Vanhoose_Er...|      0.31|     Nigeria|
| 28|Male|      Abram Nagao| Cloud|    2652463|   31|Eda Neathery_Anni...|      0.31|     Nigeria|
| 28|Male|   Bonita Higuera| Cloud|    7671835|   31|Taryn Brownlee_Se...|      0.31|     Nigeria|
| 29|Male|  Sebrina Maresca| Cloud|    5042394|   31|Donna Yerby_Miche...|      0.31|     Nigeria|
| 28|Male|    Kizzy Brenner| Cloud|    4622328|   31|Leontine Phillips...|      0.31|     Nigeria|
| 29|Male|     Paris Hutton|   MVC|     752504|   32|Elenore Choy_Elen...|      0.32|     Nigeria|
| 29|Male|   Margene Moores|   DSA|    3942449|   32|Tijuana Kropf_Nao...|      0.32|     Nigeria|
| 28|Male|     Eda Neathery|    PF|    5082430|   32|Leontine Phillips...|      0.32|     Nigeria|
| 29|Male|   Annika Hoffman|   OOP|     171660|   32|Taryn Brownlee_Mi...|      0.32|     Nigeria|
| 29|Male|     Paris Hutton|   DSA|    9702829|   32|Hubert Oliveras_C...|      0.32|     Nigeria|
| 28|Male|      Anna Santos|    DB|    9772185|   32|Kizzy Brenner_Ann...|      0.32|     Nigeria|
| 29|Male|   Maybell Duguay|   DSA|    4441473|   33|Billi Clore_Cleme...|      0.33|     Nigeria|
| 28|Male|    Santa Kerfien|   MVC|    1992202|   33|Annika Hoffman_Ta...|      0.33|     Nigeria|
| 29|Male|   Tamera Blakley|   DSA|    2661934|   33|Alberta Freund_Ti...|      0.33|     Nigeria|
| 29|Male|  Sebrina Maresca|    PF|    2712040|   33|Jeannetta Golden_...|      0.33|     Nigeria|
+---+----+-----------------+------+-----------+-----+--------------------+----------+------------+
only showing top 20 rows

In [ ]:
df.groupBy('sex')

Out[67]: <pyspark.sql.group.GroupedData at 0x7fd5d9e87fd0>

In [ ]:
df.groupBy('sex').count().show()

+------+-----+
|   sex|count|
+------+-----+
|Female|  501|
|  Male|  499|
+------+-----+

In [ ]:
df.groupBy('course').count().show()

+------+-----+
|course|count|
+------+-----+
|    PF|  166|
|    DB|  157|
|   MVC|  157|
|   DSA|  176|
| Cloud|  192|
|   OOP|  152|
+------+-----+

In [ ]:
df.groupBy('sex').max('marks').show()

+------+----------+
|   sex|max(marks)|
+------+----------+
|Female|       109|
|  Male|       109|
+------+----------+

In [ ]:
df.groupBy('sex').min('marks').show()

+------+----------+
|   sex|min(marks)|
+------+----------+
|Female|        30|
|  Male|        30|
+------+----------+

In [ ]:
df.groupBy('sex').avg('marks').show()

+------+-----------------+
|   sex|       avg(marks)|
+------+-----------------+
|Female|69.15369261477046|
|  Male| 71.0440881763527|
+------+-----------------+

In [ ]:
df.createTempView("tiny_df")

In [ ]:

# query from a PySpark DataFrame
query = """SELECT * FROM tiny_df """
spark.sql(query).show()

+---+------+----------------+------+------+-----+--------------------+
|age|gender|            name|course|  roll|marks|               email|
+---+------+----------------+------+------+-----+--------------------+
| 28|Female| Hubert Oliveras|    DB|  2984|   59|Annika Hoffman_Na...|
| 29|Female|Toshiko Hillyard| Cloud| 12899|   62|Margene Moores_Ma...|
| 28|  Male|  Celeste Lollis|    PF| 21267|   45|Jeannetta Golden_...|
| 29|Female|    Elenore Choy|    DB| 32877|   29|Billi Clore_Mitzi...|
| 28|  Male|  Sheryll Towler|   DSA| 41487|   41|Claude Panos_Judi...|
| 28|  Male|  Margene Moores|   MVC| 52771|   32|Toshiko Hillyard_...|
| 28|  Male|     Neda Briski|   OOP| 61973|   69|Alberta Freund_El...|
| 28|Female|    Claude Panos| Cloud| 72409|   85|Sheryll Towler_Al...|
| 28|  Male|  Celeste Lollis|   MVC| 81492|   64|Nicole Harwood_Cl...|
| 29|  Male|  Cordie Harnois|   OOP| 92882|   51|Judie Chipps_Clem...|
| 29|Female|       Kena Wild|   DSA|102285|   35|Dustin Feagins_Ma...|
| 29|  Male| Ernest Rossbach|    DB|111449|   53|Maybell Duguay_Ab...|
| 28|Female|  Latia Vanhoose|    DB|122502|   27|Latia Vanhoose_Mi...|
| 29|Female|  Latia Vanhoose|   MVC|132110|   55|Eda Neathery_Nico...|
| 29|  Male|     Neda Briski|    PF|141770|   42|Margene Moores_Mi...|
| 29|Female|  Latia Vanhoose|    DB|152159|   27|Claude Panos_Sant...|
| 29|  Male|  Loris Crossett|   MVC|161771|   36|Mitzi Seldon_Jenn...|
| 29|  Male|  Annika Hoffman|   OOP|171660|   22|Taryn Brownlee_Mi...|
| 29|  Male|   Santa Kerfien|    PF|182129|   56|Judie Chipps_Tary...|
| 28|Female|Mickey Cortright|    DB|192537|   62|Ernest Rossbach_M...|
+---+------+----------------+------+------+-----+--------------------+
only showing top 20 rows

In [ ]:

# query from a PySpark DataFrame
query = """SELECT name,age FROM tiny_df """
spark.sql(query).show()

+----------------+---+
|            name|age|
+----------------+---+
| Hubert Oliveras| 28|
|Toshiko Hillyard| 29|
|  Celeste Lollis| 28|
|    Elenore Choy| 29|
|  Sheryll Towler| 28|
|  Margene Moores| 28|
|     Neda Briski| 28|
|    Claude Panos| 28|
|  Celeste Lollis| 28|
|  Cordie Harnois| 29|
|       Kena Wild| 29|
| Ernest Rossbach| 29|
|  Latia Vanhoose| 28|
|  Latia Vanhoose| 29|
|     Neda Briski| 29|
|  Latia Vanhoose| 29|
|  Loris Crossett| 29|
|  Annika Hoffman| 29|
|   Santa Kerfien| 29|
|Mickey Cortright| 28|
+----------------+---+
only showing top 20 rows